* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}